###########################################################################
#                                                                         #
# `node-projects` - Workspace - projects - `.gitignore`                   #
#                                                                         #
###########################################################################

# All files
*

# Except: .gitignore
!.gitignore

# Except: .gitkeep
!.gitkeep
